:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.tile {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: bold;
  user-select: none;
  color: #dad4ef;
  background: #456990;
  border: 1px solid #028090;
  cursor: pointer;
}

.empty {
  background: #dad4ef;
  border: 2px solid #114b5f;
}
