nav a {
  display: inline-block;
  color: #000;
  background: #dbeccd;
  padding: 0.5rem 1rem;
  width: 5rem;
  text-decoration: none;
  white-space: nowrap;
}

nav a.active {
  background-color: #4caf50;
  color: white;
  font-weight: 500;
}

nav a:hover:not(.active) {
  background-color: #8cad70;
  color: white;
}
