.card-row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-width: 5rem;
  max-width: 20rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

::ng-deep .equation {
  display: block !important;
  font-size: xx-large !important;
  margin: 1.5rem 0 !important;
}
