<div style="text-align: center;">
  <div class="maze-form">
    <label for="nRow"># Rows</label>
    <input id="nRow" type="number" [(ngModel)]="row" min="1" max="150" />
    <label for="nCol"># Columns</label>
    <input id="nCol" type="number" [(ngModel)]="col" min="1" max="150" />
    <button type="button" (click)="drawMaze()">New Maze</button>
    <button type="button" (click)="drawSolution()">Solution</button>
    <button type="button" (click)="test()" *ngIf="showTestButton">Test</button>
  </div>
  <section>
    <canvas id="maze"></canvas>
  </section>
  <section>
    <div class="arrows">
      <div><span (click)="move('Up')">⬆️</span></div>
      <div>
        <span (click)="move('Left')">⬅️</span>
        <span (click)="clearMyPath()">🔄</span>
        <span (click)="move('Right')">➡️</span>
      </div>
      <div><span (click)="move('Down')">⬇️</span></div>
    </div>
  </section>
</div>
